.text-center{
    text-align: center;
  }
  
  .bg-red{
    background: rgb(131, 126, 126);
    color: white;
  }
  
  .mx-auto{
    margin: auto;
  }
  
  .flex{
    display:flex;
  } 
  .flex-col{
    flex-direction: column;
  }
  
  .items-center{
    align-items: center;
  }